@charset "UTF-8";
/* a # é usada na css pra utilizar os id
   ja o . é usado para indicar as classes
*/

body {
    text-align: justify;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(92, 32, 32);
}
h1#principal{
    background-color: rgb(180, 142, 91);
    color: rgb(0, 61, 114);
    text-align: center;
}
.basico{
    background-color: rgb(206, 129, 129);
}
h2 {
    color: rgb(7, 31, 31);
}